html {
  scroll-behavior: smooth;
  transition: 2ms;
}
body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.t-os {
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
}
.t-mont {
  font-family: "Montserrat", sans-serif;
}
.t-robo {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #313131;
  height: 75px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 3;
}
nav .nav-left .nav-logo {
  width: 200px;
  margin-left: 100px;
}
nav .nav-right ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 70px;
}
nav .nav-right ul li {
  margin: 0 16px;
}
nav .nav-right ul li a {
  color: white;
  font-size: 1em;
}
nav .nav-right ul li a:hover {
  font-size: 1.25em;
}

.h {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 700px;
}
.h .h-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 100px;
}
.h .h-left h1 {
  font-size: 3em;
  color: #313131;
}
.h .h-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.h div .h-sub {
  font-size: 3.4em;
  color: #8A2E03;
}
.h .nav-img {
  width: 550px;
}

.a {
  display: flex;
  flex: row;
  align-items: center;
  height: 650px;
  margin-top: 0;
  padding-top: 50px;
  flex-wrap: wrap;
}
.a .a-left {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.a .a-left div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.a .a-left div h3 {
  margin: 0;
  color: #8A2E03;
  font-size: 1.15em;
}
.a .a-left div h1 {
  margin: 15px 0;
  font-weight: 600;
  font-size: 2em;
  color: #8A2E03;
}
.a .a-left div p {
  text-align: justify;
  font-weight: 400;
  margin: 0;
  line-height: 32px;
}
.a .a-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.a .a-right img {
  width: 350px;
  height: 520px;
  border-radius: 5%;
  object-fit: cover;
}

.f {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 800px;
}
.f div .f-tit {
  font-size: 2.25rem;
  color: #8A2E03;
}
.f .f-sp-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.f .f-sp-card .card {
  display: flex;
  flex-direction: column;
  width: 450px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.f .f-sp-card .card .f-con {
  width: 100%;
  height: 100%;
}
.f .f-sp-card .card .f-icon {
  margin: 20px;
  color: #8A2E03;
}
.f .f-sp-card .card .f-con h6 {
  font-size: 1.25em;
  margin: 0;
  color: #8A2E03;
}
.f .f-sp-card .card .f-con p {
  font-size: 1em;
  text-align: center;
  line-height: 25px;
  letter-spacing: 1.5px;
}

.p {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 800px;
  /* margin-top: 50px; */
  /* padding-top: 3rem; */
}
.p .p-tit-wrap {
  margin-top: 70px;
}
.p .p-bawah {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.p div h3 {
  font-size: 2.25em;
  color: #8A2E03;
}
.p div .p-kiri {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
}
.p div .p-kiri .p-con {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.p div .p-kiri .p-con h6 {
  margin: 20px 0;
  font-size: 1.75em;
  color: #8A2E03;
}
.p div .p-kiri .p-con p {
  margin: 0;
  width: 90%;
  text-align: justify;
  font-size: 1.15em;
  line-height: 33px;
}
.p div .p-kanan {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
}
.p div .p-kanan img{
  width: 500px;
  margin-top: 3.5rem;
}

.t {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  padding-top: 80px;
}
.t .t-ti h3 {
  font-size: 2.25rem;
  color: #8A2E03;
}
.t .t-bawah {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.t .t-bawah .t-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 70px 40px;
  width: 300px;
}
.t .t-card h6 {
  font-size: 1.25em;
  margin: 0 0 15px 0;
}
.t .t-card p {
  font-size: 1.1em;
  margin: 0 0 1rem 0;
  /* font-weight: bold; */
}
.t .t-card .t-card-pol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.t .t-card .t-sos-hold {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.t .t-card .t-ig {
  background-color: #818181;
  color: white;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  /* font-weight: bold; */
}
.t .t-card a i {
  color: white;
  /* font-weight: bold; */
}
.t .t-card .t-card-holder{
  height: 250px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.t .t-card img {
  width: 225px;
  border-radius: 100%;
  filter: brightness(85%)
}
.t .t-card img:hover {
  width: 250px;
  filter: brightness(100%)
}
.g {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
}
.g h3 {
  font-size: 2.25em;
  color: #8A2E03;
}
.g .g-bawah {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.g .g-bawah .g-card {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.g .g-bawah .g-card img{
  width: 260px;
  height: 260px;
  object-fit: cover;
  background-position: center;
  border-radius: 5%;
  cursor: pointer;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
#close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

#close:hover,
#close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  align-items: center;
  /* margin-top: 5rem; */
  background-color: #8A2E03;
}
footer .foot-atas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}
footer .foot-card {
  width: 100%;
}
footer .foot-atas .foot-kiri {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  width: 40%;
}
footer .foot-atas .foot-kiri ul {
  margin: 0;
  padding: 0;
}
footer .foot-atas .foot-kiri ul li span {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  width: 250px;
}
footer .foot-atas .foot-kiri ul li span p {
  margin-left: 15px;
  font-size: 1rem;
  color: white;
}
footer .foot-atas .foot-kiri ul li span i {
  color: white;
}
footer .foot-atas .foot-tengah {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  /* padding-left: 60px; */
}
/* footer .foot-atas .foot-tengah iframe{
  margin-top: 5rem;
} */
footer .foot-atas .foot-kanan {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  text-align: justify;
  width: 60%;
}
footer .foot-atas .foot-kanan h6 {
  color: white;
  font-size: 1em;
  font-weight: 100;
  margin: 15px 0;
}
footer .foot-atas .foot-kanan .foot-sm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .foot-atas .foot-kanan .foot-sm li {
  margin: 1rem;
}
footer .foot-atas .foot-kanan .foot-sm .ft-li-rg {
  margin: 0;
  margin-left: 1rem;
}
footer .foot-atas .foot-kanan .foot-sm li a {
  color: black;
}
.wa-block {
  display: flex;
  flex-direction: row;
  justify-content: right;
  position: fixed;
  bottom: 25px;
  right: 25px;
}
.wa-block .wa-border {
  background-color: green;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wa-block i {
  color: white;
}